*{
	font-weight:300;
	

}
.centre
{
	text-align: center;
	font-family: "comic sans MS", cursive, sa,sans-serif;
	font-size: 24px;
	margin-top: 50px;
}
.titre{
	color: gold;
}
#logo{
	text-align: center;

}
#evenement{
	text-align: center;
	background-color: gold;
}

.footer{
	margin-top: 150px;
	width: 100%;
	padding: 100px 15%;
	background: #333;
	color: #efefef;
	display: flex;
}
.footer div{
	text-align: center;
}
.colonne2{
	flex-grow: 2;
}


.footer div h3{
	font-weight:300;
	margin-bottom: 30px;
	letter-spacing:1px ;
	color: gold;
}
.colonne1 a{
	display: block;
	text-decoration: none;
	color: #efefef;
	margin-bottom: 10px;

}
form input{
	width: 400px;
	height: 45px;
	border-radius: 4px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 40px;
	outline:none ;
	border :none;
}
form button{
	background: transparent;
	border:2px solid #fff;
	color: #fff;
	border-radius: 30px;
	padding: 10px 30x;
	font-size: 15px;
	cursor: pointer;
}
#countdown {
      width: 500px;
      height: 100px;
      font-size: 40px;
      font-weight: bold;
      text-align: center;
      color: #333;
      margin: 50px auto;
    
     
      
    }

  h1 {
        text-align: center;
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 30px;
      }

    h2 {
        text-align: center;
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 30px;
      }
        h3 {
        color: black;
        margin: 0;
        font-size: 60px;
        text-shadow: 2px 2px #ccc;
        animation: text-glow 1s ease-in-out infinite alternate;
      }
h4 {
	color: gold;
        text-align: center;
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 30px;
      }
      .presentation {
        width: 80%;
        margin: 0 auto;
        text-align: justify;
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 30px;
      }

      .highlight {
        font-weight: bold;
      }

.introcarousel{
	text-align: center;
}
  .carousel {
        width: 500px;
        height: 300px;
        margin: 50px auto;
        border: 10px solid gold;
        overflow: hidden;
        position: relative;
      }

      .slide {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        transition: opacity 1s ease-in-out;
      }

      .active-slide {
        opacity: 1;
      }

      .slide img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

.container {
        display: flex;
        height: 100vh;
      }

      .left-section {
        background-color: gold;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .right-section {
        background-color: #333;
        color: gold;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
         display: flex;
        flex-direction: column;
      }
    

      @keyframes text-glow {
        from {
          text-shadow: 0 0 5px gold, 0 0 10px gold, 0 0 15px gold, 0 0 20px gold, 0 0 30px gold, 0 0 40px gold, 0 0 55px gold, 0 0 75px gold;
        }
        to {
          text-shadow: 0 0 5px #333, 0 0 10px #333, 0 0 15px #333, 0 0 20px #333, 0 0 30px #333, 0 0 40px #333, 0 0 55px #333, 0 0 75px #333;
        }
      }

      table{
      margin: auto;
      width: 400px;
      max-width: 400px;
      height: 200px;
      text-align: center;
      border-radius: 4px;
      padding-right: 10px;
    }

    .table1{
      background-color: #333;
      color: gold;
      height: 300px;
    }
    .table2{
          background-color: #333;
          color: gold;
          height: 1000px;
   }

    .ZoneTexte{
      background-color: gold;
      color: black;
      height: 50px;
    }

    #boutton
    {
      position: relative;
      left: 5px;
      top: 5px;
      border: 0;
      color: #495069;
      background-color: gold;
      border-radius: 4px;
      width: 200px;
      height: 100px;
      float: left;
      margin: 5px;
      font-size: 25px;
      margin-bottom: 15px;
    }
    .bouttonFormulaire
        {
          color: #333;
          background-color: gold;
          height: 30px;
          width: 300px;
        }